body{
    background-color: #C8E1EC;
}

#content {
  max-width: 1600px;
  margin: 0 auto;
}

nav a{
  text-align: center;
  text-decoration: none;
}
#hero-msg {
  text-align: center;
}
h1 {
  text-align: center;
}
#hero-msg {
  text-align: center;
}
h4 {
  text-align: center;
}
.button-box {
  text-align: center;
}
main section {
  text-align: center;
}
#background {
  height: 725px;
}
header{
    background-color: #289DD2;
}
a:hover{
    background-color: #84CCEE;
}
.book{
    background-color: #fff;
    text-decoration: none;
} 
.join{
    background-color: #fff;
    text-decoration: none;
}
.book:hover{
    background-color: #84CCEE;
}
.join:hover{
    background-color: #289DD2;
}
#background{
    background-color: #004AAD;
}
.msg{
    background-color: #84CCEE;
}
footer{
    background-color: #289DD2;
}

.icon {
    width: 80px;
}

#hero-img{
    width: 100%;
}
footer a{
    text-decoration: none;
}
footer p{
    font-size: 1.2em;
}
footer p a:hover {
    text-decoration: underline;
}  