@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

:root {
  --primary-color: #000000;
  --secondary-color: #03fa6e;
  --accent1-color: #294367;
  --accent2-color: #56f79b;

  --heading-font: "Roboto", sans-serif;
  --paragraph-font: "Roboto Mono", sans-serif;
}

* {
  margin: 0;
  font-family: var(--paragraph-font);
}

body {
  background-color: var(--primary-color);
  min-height: 100vh;
  max-width: 100vw;
}

header {
  display: flex;
  height: 10vh;
  padding: 0.5%;
  background-color: var(--secondary-color);
  border-bottom: 1px solid var(--primary-color);
}

header a{
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--primary-color);
    width: 30%;
    font-size: 20px;
    height: 100%;
}

header a:hover{
    color: #fff;
    background-color: var(--primary-color);
    height: 80%;
    width: 30%;
}

#logo-link{
    width: 100%;
}

#logo-link:hover{
    height: 100%;
}

#logo-container {
  height: 100%;
}

#logo-header {
  height: 100%;
}

#links-container {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  height: 100%;
  width: 20%;
  margin-left: 2.8%;
}

#links-container a {
  text-decoration: none;
}

main{
    min-height: 90vh;
}

#about-main{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

#main-projects{
  min-height: 10vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

#top{
    background-image: url("../images/wallpaper.jpg");
    height: 60vh;
    width: 100%;
    background-position: center;
    -webkit-mask-image: linear-gradient(to top, transparent 0%, black 100%);
}

#top-projects{
  background-image: url("../images/wallpaperProjects.png");
  background-position: center;
  background-size: cover;
  height: 60vh;
  width: 100%;
  background-position: center;
  -webkit-mask-image: linear-gradient(to top, transparent 0%, black 100%);
}

#bottom{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 40vh;
}

#bottom-projects{
  display: grid;
  width: 80%;
  height: 100vh;
  grid-template-columns: 48% 48%;
  grid-template-rows: 48% 48%;
  gap: 2.5%;
  justify-content: space-evenly;
  align-items: center;
}

.buttom{
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    background-color: var(--accent1-color);
    color: var(--secondary-color);
    height: 8vh;
    width: 14%;
}

footer{
    display: flex;
    justify-content: space-between;
    height: 8vh;
    background-color: var(--secondary-color);
}

#name-container{
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 100%;
    width: 20%;
}

#social-container{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 100%;
    width: 10%;
}

#social-container a{
    height: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#social-container a img{
    height: 80%;
}

#mid{
  display: grid;
  grid-template-columns: 60% 40%;
  grid-template-rows: 1fr;
  padding: 0 4%;
  align-items: center;
  justify-items: center;
  text-align: center;
  height: 80vh;
  max-width: 100%;
  background-position: center;
  -webkit-mask-image: linear-gradient(to top, transparent 0%, black 100%);
  color: #fff;
}

#mid img{
  height: 700px;
  border-radius: 5px;
  align-self: center;
  justify-self: center;
}

#gridSkills{
  width: 80%;
  gap: 5%;
  height: 500px;
  display: grid;
  justify-content: center;
  align-items: center;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
}

.card-container{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  border: 2px solid #294367;
  height: 80%;
  width: 50%;
  padding: 2% 2%;
  justify-self: center;
  cursor: pointer;
}

.card-inside{
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid #294367;
  height: 70%;
  width: 100%;
}

.card-inside img{
  height: 100%;
}

.text-container{
  width: 100%;
  height: 30%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
}

#link{
  border: 1px solid var(--primary-color);
  text-decoration: none;
  color: var(--primary-color);
  padding: 10px;
}

.container {
  position: relative;
  width: 80%;
}

.image {
  display: block;
  width: 100%;
  height: auto;
}

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .5s ease;
  background-color: #008CBA;
}

.container:hover .overlay {
  opacity: 1;
}

.text {
  color: white;
  font-size: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
}